html{
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;  
    color: #17252A;
    
  }
  body{
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    
    
}

.header{
    margin-bottom: 2%;
    
}

@media (max-width: 640px) {
    h1 { line-height: 6.5rem; }
  }

@media (max-width: 1042px) {
    .chunks { margin-left: 2em; margin-right: 2em;} 
  }

.chunks{
    margin-top: 0.5%;
    margin-bottom: 1%;
  
    padding: 1%;
    
}
.squares{
    margin-top: 40px;
    margin-bottom: 50px;
}
h1{
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 120px;
    font-weight: 800;
    letter-spacing: 0.02em;
}
h2{
    font-size:30px;
    margin-bottom: 2%;
    font-weight:900;
    text-decoration: underline;
}
h4{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 30px;

}
ul{
    font-size: 12pt;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: 400;
    width: 100%;
}
li{
    margin: 10px 0;
}

h5{
    margin-top: 15px;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 21px;
}
h6{
    margin-top: 2%;
    margin-bottom: 3%;
    font-weight: 300;
    font-size: 21px;
    background-color: #854a82;
    padding: 0.5em;
    color: white;
    width: 60%;
    display: block;
}
h3{
    font-weight: 300;
    
}

.gridcolumns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f9f9f9;
    width:100%; 
 
}

.gridcolumns li{
    width: 100%;
}

img{
    padding-top: 1em;
    width: 100%;
}

b{
    font-weight: 600;
}

@media (max-width: 1034px) {
    .gridcolumns { grid-template-columns: 95%; 
    margin-left: auto; margin-right: auto;
    width:95%;}
  }

  
   @media (max-width: 543px) {
    img { width: 90%; } 
   }


   @media (max-width: 1034px) {
    .header img, .header { 
    margin-left: auto; margin-right: auto;
    width:95%;}
  }

  @media (max-width: 1034px) {
    .header img{ 
    margin-left: auto; margin-right: auto;
    width:100%;}
  }

.footer{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 2.3%;
}

.time{
    margin-top: 3%;
    margin-bottom: 2%;
}


@media (max-width: 345px) {
    h1 {font-size: 35vw; line-height: 30vw;}
}

@media (max-width: 297px) {
     ul li, ol li{font-size: 5vw; line-height: 7vw;}
}

@media (max-width: 297px) {
    h2{ font-size: 10vw; line-height: 10vw;}
}

@media (max-width: 297px) {
    h5{ font-size: 7vw; line-height: 11vw;}
}

@media (max-width: 297px) {
    h6{font-size: 5vw; line-height: 8vw;}
}

@media (max-width: 297px) {
    p{font-size: 5vw; line-height: 8vw;}
}

@media (max-width: 321px) {
    h4{ font-size: 8vw; line-height: 11vw;}
}

@media (max-width: 297px) {
    .column1, .column2, ul li, ol li{ margin-left: 1vw; margin-right: 1vw;}
}