header{
    margin-bottom: 3rem;
}

p{
    line-height: 1.6;
}

a.see-all{
    font-size: 0.8 em;
    text-transform: uppercase;
}

h1{
    font-size: 2.5 rem;
}

h2{
    text-transform: uppercase;
    font-size: 1rem;
}

 h1, h2{ 
    font-weight: 100; 
} 

img{
    width: 100%;
}

.cast a{
    width: 25%;
}

#game-of-thrones {
    border-top: solid black 1px;
}

#unbreakable-kimmy-schmidt{
    border-top: solid black 1px;
}

.selected a{
    color: black;
    font-weight:bold;
}

a div{
    font-size: 0.8rem;
}

a div:first-of-type{
    font-weight: bold;
}

a div:last-of-type{
    font-style: italic;
}

#game-of-thrones .seasons ul:last-of-type::after{
    content: "*";
}


#game-of-thrones .seasons::after{
    content: "* Final Season";
    font-size: 0.7rem;
    color: #999;
}
